
@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ededed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #FFF;
	background: #000000;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}
nav ul{
	background: #000000;
	/*background: #05817d;*/
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'GothamBook';
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #ffffff;
}
nav .principal > a{
    background: url(../images/arrow_bottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	background: #000000;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background: #78837f;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
	padding: 90px 15px 15px;
}
/*****************************************************************/

.form_register{
	width: 450px;
	margin: auto;
}
.form_register h1{
	color: #000000;
}
hr{
	border: 0;
	background: #CCC;
	height: 1px;
	margin: 10px 0;
	display: block;
}
form{
	background: #FFF;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid #d1d1d1;
}
label{
	display: block;
	font-size: 12pt;
	font-family: 'GothamBook';
	margin: 15px auto 5px auto;
}
input,select{
	display: block;
	width: 100%;
	font-size: 11pt;
	padding: 5px;
	border: 1px solid #000000;
	border-radius: 5px;
}
.notItemOne option:first-child{
	display: none;
}
.btn_save{
	font-size: 12pt;
	background: #f2f700;
	padding: 10px;
	color: #FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	margin: 15px auto;
}
.alert{
	width: 100%;
	background: #66e07d66;
	border-radius: 6px;
	margin: 20px auto;
}
.msg_error{
	color: #e65656;
}
.msg_save{
	color: #126e00;
}
.alert p{
	padding: 10px;
}

/*=============== LISTA USUARIO =============*/
#container h1{
	font-size: 35px;
	display: inline-block;
}
.btn_new{
	display: inline-block;
	background: #49aa23;
	color: #FFF;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}
table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: 'arial';
	width: 100%;
}
table th{
	text-align: left;
	padding: 10px;
	background: #000000;
	color: #FFF;
}
table tr:nth-child(odd){
	background: #FFF;
}
table td{
	padding: 10px;
}
.link_edit{
	color: #34d0f7;
}
.link_delete{
	color: #e70000;
}
.data_delete{
	text-align: center;
}
.data_delete h2{
	font-size: 12pt;
}
.data_delete span{
	font-weight: bold;
	color: #000000;
	font-size: 12pt;
}
.btn_cancel,.btn_ok{
	width: 124px;
	background: #ffe600;
	color: #FFF;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 15px;
}
.btn_cancel{
	background: #a11717;
}

.data_delete form{

	background: initial;
	margin: auto;
	padding: 20px 50px;
	border: 0;

}

.paginador ul{
	padding: 15px;
	list-style: none;
	background: #FFF;
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.paginador a, .pageSelected{
	color: #000000;
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
}
.paginador a:hover{
	background: #ddd;
}
.pageSelected{
	color: #FFF;
	background: #000000;
	border: 1px solid #000000;
}
/*============ Buscador ============*/
.form_search{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius: 10px;
}
.form_search .btn_search{
	background: #000000;
	color: #FFF;
	padding: 0 20px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}
.create_user{
	text-align: center;
	margin-bottom: 10px;
}
.create_user a{
	text-decoration: none;
	font-family: 'arial';
	font-size: 14pt;
	color: #000000
}

#popup_register{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
    background: rgba(0, 0, 0, 0.922);
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
}
.showFormRegister{
	opacity: 1 !important;
	z-index: initial !important;
	transition: opacity 1s;

}

#popup_register form{
	width: 400px;
	background: #FFF;
	padding: 20px;
	position: relative;
}
#popup_register #close_form{
	width: 40px;
	height: 40px;
	background: #cb5555;
	position: absolute;
	top: -18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	color: #fff;
	font-family: candara;
	right: -20px;
	font-size: 16pt;
	cursor: pointer;
	text-decoration: none;
} 
#popup_register input{
	border: 1px solid #42bc59;
}
#popup_register h2{
	font-size: 22pt;
	text-align: center;
	font-family: arial;
	margin-bottom: 10px;
	color: #5a5a78;
}
#popup_register p{
	font-family: arial;
	font-size: 12pt;
	color: #000000;
}
#popup_register span{
	color: red;
}
#popup_register input, #popup_register label{
	display: block;
	width: 100%;
	font-family: 'arial';
	font-size: 12pt;
	padding: 5px;
	color: #000000;
}
#popup_register label{
	margin: 15px 0 5px 0;
	padding: 0;
}
#btn_create_user{
	color: #FFF !important;
	padding: 10px !important;
	background: #ebe700;
	border: 0;
	margin: 20px 0;
	font-size: 15pt !important;
	cursor: pointer;
}